:root{
    --fondo: linear-gradient(0deg, #C4C7E5, 70%, #212B88);
}

*{
    box-sizing: border-box;
    list-style-type: none
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(235, 223, 223);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: var(--fondo);
}

ul{
    display: flex;
    width: 100%;;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.ul-li{
    width: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
}

li{
    cursor: pointer;
    margin: 0 20px;
    padding-bottom: 3px;
}

li:hover{
    border-bottom: 2px solid rgb(221, 224, 33);
}

.active{
    color: #992424;
    cursor:none;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.active:hover{
    border-bottom: 2px solid white;
}

.btn-down{
    padding: 5px;
    margin-right: 20px;
    background: linear-gradient( #C4C7E5, #212B88);;
    color: white;
    border: none;
    cursor: pointer;
}

.section_profile{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgProfile{
    width: 30%;
    height: 50vh;
    border-radius: 10px;
}

.art_profile{
    color:#992424;
    text-shadow: 50px solid black;
}

.footer_flecha{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circl_flecha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0b3ca;
}

.circl_flecha:hover{
    background-color: #212B88;
    color:white;
    cursor: pointer;
}